name: Verify Pull Request

env:
  MAVEN_ARGS: -V -ntp -e

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true
on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 17 ]
        distribution: [ temurin ]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Java and Maven
        uses: actions/setup-java@v4
        with:
          distribution: ${{ matrix.distribution }}
          java-version: ${{ matrix.java }}
          cache: 'maven'
      - name: Check code format
        run: |
          ./mvnw ${MAVEN_ARGS} formatter:validate -Dconfigfile=$PWD/contributing/eclipse-google-style.xml --file pom.xml
          ./mvnw ${MAVEN_ARGS} impsort:check --file pom.xml
      - name: Run unit tests
        run: ./mvnw ${MAVEN_ARGS} -B test --file pom.xml
  spring-boot-e2e-tests:
    runs-on: ubuntu-latest
    needs: build
    strategy:
      matrix:
        java: [ 17 ]
        distribution: [ temurin ]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Java and Maven
        uses: actions/setup-java@v4
        with:
          distribution: ${{ matrix.distribution }}
          java-version: ${{ matrix.java }}
          cache: 'maven'
      - name: Setup Minikube-Kubernetes
        uses: manusa/actions-setup-minikube@v2.9.0
        with:
          minikube version: v1.25.2
          kubernetes version: v1.23.6
          github token: ${{ secrets.GITHUB_TOKEN }}
          driver: docker
      - name: Run E2E Test
        run: |
          set -x
          eval $(minikube -p minikube docker-env)
          ./mvnw ${MAVEN_ARGS} clean install -DskipTests
          cd samples/spring-boot
          pwd
          ./mvnw ${MAVEN_ARGS} jib:dockerBuild -DskipTests
          ./mvnw ${MAVEN_ARGS} test -Pend-to-end-tests  
          
  quarkus-e2e-tests:
    runs-on: ubuntu-latest
    needs: build
    strategy:
      matrix:
        java: [ 17 ]
        distribution: [ temurin ]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Java and Maven
        uses: actions/setup-java@v4
        with:
          distribution: ${{ matrix.distribution }}
          java-version: ${{ matrix.java }}
          cache: 'maven'
      - name: Setup Minikube-Kubernetes
        uses: manusa/actions-setup-minikube@v2.9.0
        with:
          minikube version: v1.25.2
          kubernetes version: v1.23.6
          github token: ${{ secrets.GITHUB_TOKEN }}
          driver: docker
      - name: Run E2E Test
        run: |
          set -x
          eval $(minikube -p minikube docker-env)
          ./mvnw clean install -DskipTests
          cd samples/quarkus
          ./mvnw install -Dquarkus.container-image.build=true -DskipTests
          ./mvnw ${MAVEN_ARGS} test -Pend-to-end-tests